{% extends 'board/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/itemlist.css' %}">
{% endblock %}

{% block content %}
    <nav class="items-nav">
        <div class="blog-logo">WISHLIST</div>
        <div class="blog-icon">
            <a href="{% url 'home' %}">
                <i class="fas fa-home add-icon i"></i>
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="blog-icon">
            <a href="{% url 'add_item' %}">
                <i class="fas fa-plus add-icon i"></i>
            </a>
        </div>
        {% endif %}
    </nav>
    {% if user.is_authenticated %}
        <div class="itemlist-wrapper">
            <div class="itemlist">
            {% for item in items %}
            {% if item.author == request.user %}
            <article class="items">
                <a class="item-link" href={{item.link}}>
                    <div class="thumbnail-wrapper"><img width="50%" height="auto" src={{item.thumbnail}} class="item-content"></img></div>
                    <div class="item-content-wrapper">
                        <div class="item-content">{{item.name}}</div>
                        <a class="item-delete" href="{% url 'item_delete' pk=item.pk %}">
                            <i class="fas fa-trash-alt j"></i>
                        </a>
                    </div>
                </a>
            </article>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    {% else %}
    <div class="login-please">
        <a class="please" href="{% url 'home' %}">Login please</a>
    </div>
    {% endif %}
{% endblock %}