.posts{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.title{
    text-decoration: none;
}
.author{
    text-decoration: none;
}
.created_date{
    margin-bottom: 1rem;
    text-decoration: none;
}