{% extends 'board/base.html' %}

{% block content %}
    <div class="login-wrapper">
        <form method="POST" class="login-form">{% csrf_token %}
            {% if error %}
                <script>
                    alert('username or password is not correct')
                </script>
            {% endif %}
            <input class="login-input" placeholder="username" name="username">
            <input class="login-input" placeholder="password" name="password">
            <div class="post-sub-btn p">
                <button class="login-btn l" type="submit">login</button>
                <a class="login-btn" href="{% url 'signup' %}"><p>signup</p></a>
            </div> 
        </form>
    </div>
{% endblock %}