{% extends 'board/base.html' %}

{% block content %}
    <div class="login-wrapper">
        <form method="POST" class="login-form">{% csrf_token %}
            {% if error %}
                <script>
                    alert('username or password is not correct')
                </script>
            {% endif %}
            <input class="login-input" placeholder="username" name="username">
            <input class="login-input" placeholder="password" name="password">
            <button type="submit">login</button>
            <a href="{% url 'signup' %}">signup</a>
        </form>
    </div>
{% endblock %}